<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Iplacex</title>
    <link rel="stylesheet" href="/css/styles.css">



</head>

<body>
    <header id="header" class="header">
        <p>Estás Logueado // <a href="logout">Cerrar Sesión</a></p>




        <div class="container">
            <div class="row">
                <div class="four columns">
                    <a href="/"><img src="/img/logo.jpg" id="logo"></a>
                </div>
                <div class="two columns u-pull-right">
                    <h5 class="decora-rol">Administrador</h5>
                </div>
            </div>
        </div><br>

    </header>


    <div>
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="contenido-hero">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="barra">
        <div class="container">
            <div class="row">
                <div class="four columns icono icono1">
                    <p>Cientos de Juegos Interactivos<br>
                        Estimula Mentalmente a los Niños</p>
                </div>
                <div class="four columns icono icono2">
                    <p>Eleva su Concentración<br>
                        E Interactua con el Mundo</p>
                </div>
                <div class="four columns icono icono3">
                    <p>Opciones de Pago<br>
                        Sistema Contra Entrega</p>
                </div>
            </div>
        </div>

    </div>


    <h4 id="encabezado" class="encabezado decora-text">Administrador</h4>
    <h6 class="decora-h6">"En este espacion puedes editar cuentas, agregar o quitar productos, editar ventas o pedidos y
        administrar despachos"</h6>

    <div class="container">
        <h5 id="encabezado" class="encabezado decora-text">Editar Cuentas</h5>
        <div class="rowend mt-5">
            <div class="colend-md-7">
                <table>
                    <thead>
                        <tr class="decora-h6">
                            <th>N°</th>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Rol</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (people) {%>
                            <% for (var i=0; i < people.length; i++ ){%>
                                <tr>
                                    <td>
                                        <%= ( i + 1 ) %>
                                    </td>
                                    <td>
                                        <%= people[i].idCliente %>
                                    </td>
                                    <td>
                                        <%= people[i].nombres %>
                                    </td>
                                    <td>
                                        <%= people[i].telefono %>
                                    </td>
                                    <td>
                                        <%= people[i].direccion %>
                                    </td>
                                    <td>
                                        <%= people[i].correo %>
                                    </td>
                                    <td>
                                        <%= people[i].idRol %>
                                    </td>
                                    <td> <a href="/deleteUser/<%= people[i].idCliente%>"
                                            class="u-full-width button-primary button input">Eliminar</a></td>
                                    <td> <a href="/updateUser/<%= people[i].idCliente%>"
                                            class="u-full-width button-primary button input">Editar</a></td>
                                </tr>
                                <%} %>
                                    <%} %>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="colend-md5">
            <div>
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <h5 id="encabezado" class="encabezado decora-text">Editar Productos</h5>
        <br>
        <a href="/addProducto" class="u-full-width button-primary button input">Agregar Producto</a>
        <div class="rowend mt-5">
            <div class="colend-md-6">
                <table>
                    <thead>
                        <tr class="decora-h6">
                            <th>ID Producto</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>idCategoria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (productos && productos.length> 0) { %>
                            <% productos.forEach((p)=> { %>
                                <tr>
                                    <td>
                                        <%= p.idProducto %>
                                    </td>
                                    <td>
                                        <%= p.nombreProducto %>
                                    </td>
                                    <td>
                                        <%= p.descripcion %>
                                    </td>
                                    <td>
                                        <%= p.precio %>
                                    </td>
                                    <td>
                                        <%= p.idCategoria %>
                                    </td>
                                    <td>
                                        <a href="/deleteProducto/<%= p.idProducto %>"
                                            class="u-full-width button-primary button input">Eliminar</a>
                                        <a href="/updateProducto/<%= p.idProducto %>"
                                            class="u-full-width button-primary button input">Editar</a>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } %>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="colend-md5">
            <div>
                <table>

                </table>
            </div>
        </div>
    </div>
    <div class="container">

        <h5 id="encabezado" class="encabezado decora-text">Editar pedidos</h5>

        <div class="rowend mt-5">
            <div class="colend-md-6">
                <table>
                    <thead>
                        <tr class="decora-h6">
                            <th>Id Pedido</th>
                            <th>fechaPedido</th>
                            <th>total</th>
                            <th>idMetodoPago</th>
                            <th>idEnvio</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (pedidos && pedidos.length> 0) { %>
                            <% pedidos.forEach((p)=> { %>
                                <tr>
                                    <td>
                                        <%= p.idPedido %>
                                    </td>
                                    <td>
                                        <%= p.fechaPedido %>
                                    </td>
                                    <td>
                                        <%= p.total %>
                                    </td>
                                    <td>
                                        <%= p.metodoPago || 'Sin método' %>
                                    </td>
                                    <td>
                                        <%= p.estadoEnvio || 'Pendiente' %>
                                    </td>
                                    <td>
                                        <a href="/deletePedido/<%= p.idPedido %>"
                                            class="u-full-width button-primary button input">Eliminar</a>
                                        <a href="/updatePedido/<%= p.idPedido %>"
                                            class="u-full-width button-primary button input">Editar</a>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } %>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="colend-md5">
            <div>
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <h5 id="encabezado" class="encabezado decora-text">Editar Envios</h5>

        <div class="rowend mt-5">
            <div class="colend-md-6">
                <table>
                    <thead>
                        <tr class="decora-h6">
                            <th>Id Envio</th>
                            <th>Direccion Envio</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>Codigo Postal</th>
                            <th>Fecha Envio</th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (envios && envios.length> 0) { %>
                            <% envios.forEach((e)=> { %>
                                <tr>
                                    <td>
                                        <%= e.idEnvio %>
                                    </td>
                                    <td>
                                        <%= e.direccionEnvio %>
                                    </td>
                                    <td>
                                        <%= e.ciudad %>
                                    </td>
                                    <td>
                                        <%= e.estado %>
                                    </td>
                                    <td>
                                        <%= e.codigoPostal %>
                                    </td>
                                    <td>
                                        <%= e.fechaEnvio %>
                                    </td>
                                    <td>
                                        <a href="/deleteEnvio/<%= e.idEnvio %>"
                                            class="u-full-width button-primary button input">Eliminar</a>
                                        <a href="/updateEnvio/<%= e.idEnvio %>"
                                            class="u-full-width button-primary button input">Editar</a>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } %>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="colend-md5">
            <div>
                <table>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer">


        <div class="container">
            <div class="row">
                <div class="four columns">
                    <nav id="principal" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">Para tu Negocio</a>
                        <a class="enlace" href="#">Ventas por Mayor</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secundaria" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">¿Quienes Somos?</a>
                        <a class="enlace" href="#">Despacho de Productos</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secundaria" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">Soporte</a>
                        <a class="enlace" href="#">Contactanos</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
            </div>
        </div>
    </footer>




    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !=='undefined' && alert) { %>
        <script>
            Swal.fire({
                title: "<%= alertTitle %>",
                text: "<%= alertMessage %>",
                icon: "<%= alertIcon %>",
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
    }).then(() => {
                    window.location.href = "/<%= ruta %>";
                });
        </script>
        <% } %>


</body>

</html>