<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Iplacex</title>
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <header id="header" class="header">
        <% if (login) { %>
            <a href="/logout">Cerrar Sesión</a>
            <% } else { %>
                <h6>
                    <%= name %>
                </h6>
                <a href="/login">Iniciar Sesión</a>
                <% } %>
                    <div class="container">
                        <div class="row">
                            <div class="four columns">
                                <a href="/"><img src="/img/logo.jpg" id="logo"></a>
                            </div>

                            <div class="two columns u-pull-right">
                                <ul>
                                    <li class="submenu">
                                        <img src="/img/cart.png" id="img-carrito">
                                        <div id="carrito">
                                            <table id="lista-carrito" class="u-full-width">
                                                <thead>
                                                    <tr>
                                                        <th>Imagen</th>
                                                        <th>Nombre</th>
                                                        <th>Precio</th>
                                                        <th>Cantidad</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar
                                                Carrito</a>
                                            <a href="#" id="finalizar-compra" class="button u-full-width">Finalizar
                                                Compra</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div><br>

    </header>


    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="contenido-hero">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="barra">
        <div class="container">
            <div class="row">
                <div class="four columns icono icono1">
                    <p>Cientos de Juegos Interactivos<br>
                        Estimula Mentalmente a los Niños</p>
                </div>
                <div class="four columns icono icono2">
                    <p>Eleva su Concentración<br>
                        E Interactua con el Mundo</p>
                </div>
                <div class="four columns icono icono3">
                    <p>Opciones de Pago<br>
                        Sistema Contra Entrega</p>
                </div>
            </div>
        </div>

    </div>

    </div>
    <div id="lista-cursos" class="container">
        <h4 id="encabezado" class="encabezado decora-text">Juegos Interactivos</h4>
        <h6 class="decora-h6">"Antes de comenzar tu aventura educativa, queremos contarte que también tenemos juegos
            interactivos
            especialmente diseñados para seguir aprendiendo mientras te diviertes. Cada juego complementa y te permite
            practicar de manera entretenida, segura y guiada. ¡Descubre nuestra colección y convierte cada momento en
            una experiencia de aprendizaje!"</h6>
        <div id="productos" class="container">

            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="/img/bloques_colores.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Bloques en Madera de Colores</h4>
                            <p>Edad: 3+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$4000 <span class="u-pull-right ">$2500</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="1">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/arcoiris_animales.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Arcoíris de Animalitos</h4>
                            <p>Edad: 3+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$3500<span class="u-pull-right ">$2000</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="2">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/buho_musical.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Búho Musical Multifunción</h4>
                            <p>Edad: 3+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$6500<span class="u-pull-right ">$3500</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="3">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="/img/bloques_magneticos_154.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Bloques Magnéticos – 154 pcs</h4>
                            <p>Edad: 5+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$8000<span class="u-pull-right ">$6500</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="4">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/bloques_magneticos.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Bloques Magnéticos – 96 pcs</h4>
                            <p>Edad: 5+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$6500<span class="u-pull-right ">$5500</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="5">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/bloques_camion_12_en_1.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Bloques de Bombero Brigada Fire</h4>
                            <p>Edad: 8+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$2000 <span class="u-pull-right ">$15000</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="6">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="/img/cubo.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Cubo Soma x2500 pcs</h4>
                            <p>Edad: 8+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$12000<span class="u-pull-right ">$10000</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="7">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/multi_cubo_8_en_1.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Cubo Multifunción 8 en 1</h4>
                            <p>Edad: 5+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$12000<span class="u-pull-right ">$10000</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="8">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/cubos_apilables.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Cubo Apilable con fichas de encaje</h4>
                            <p>Edad: 5+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$9500<span class="u-pull-right ">$8500</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="9">Agregar
                                Al Carrito</a>
                        </div>
                    </div>
                </div>
            </div> <!--.row-->
            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="/img/domino_acrilico.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Dominó Acrílico de Animalitos</h4>
                            <p>Edad: 5+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$5000<span class="u-pull-right ">$4500</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="10">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/tiendita.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Juego didáctico La Tiendita</h4>
                            <p>Edad: 8+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$14000<span class="u-pull-right ">$12000</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="11">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="/img/maracas.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Instrumento Musical Maracas de madera</h4>
                            <p>Edad: 3+</p>
                            <img src="/img/estrellas.png">
                            <p class="precio">$6000<span class="u-pull-right ">$5000</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                data-id="12">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="lista-cursos" class="container">
            <h4 id="encabezado" class="encabezado decora-text">Juegos Interactivos con Stock now</h4>
            <div class="row">
                <div class="card">
                    <% if (productos && productos.length> 0) { %>
                        <% productos.forEach(p=> { %>
                            <div class="four columns">
                                <div class="card">
                                    <img src="<%= p.imagen %>" class="imagen-curso u-full-width"
                                        alt="<%= p.nombreProducto %>">
                                    <div class="info-card">
                                        <h4>
                                            <%= p.nombreProducto %>
                                        </h4>
                                        <p>
                                            <%= p.descripcion %>
                                        </p>
                                        <img src="/img/estrellas.png">
                                        <!-- mantener span como en productos estáticos -->
                                        <p class="precio">$<span>
                                                <%= p.precio %>
                                            </span></p>
                                        <a href="#" class="u-full-width button-primary button input agregar-carrito"
                                            data-id="<%= p.idProducto %>">
                                            Agregar Al Carrito
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No hay productos disponibles.</p>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>













    <div id="lista-cursos" class="container">
        <h4 id="encabezado" class="encabezado decora-text">Videos Educativos</h4>
        <h6 class="decora-h6">"¡Hola! 👋 Antes de empezar, recuerda que este es un espacio para aprender y divertirte de
            forma
            saludable. Aquí encontrarás videos interactivos que te ayudarán a descubrir cosas nuevas
            mientras juegas. Para cuidarte, tu tiempo de pantalla es limitado y tendrás pausas para
            descansar la vista, moverte y compartir con tu familia. ¡Prepárate para aprender y pasarlo
            bien!"</h6>
        <div class="row">
            <div class="four columns">
                <iframe width="320" height="240" src="https://www.youtube.com/embed/vtWGXsU728E?si=L-XP_h826il9IIuD"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            <div class="four columns">
                <iframe width="320" height="240" src="https://www.youtube.com/embed/ANTkGyyme6A?si=k2mdosIctvzcnNX6"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            <div class="four columns">
                <iframe width="320" height="240" src="https://www.youtube.com/embed/kEhY7Gem47w?si=HUkUydMRETlBP5OE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            <div class="row">
                <div class="four columns">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/bO3WAXVW5Ak?si=VHs1pB3nxQWIK4a0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
                <div class="four columns">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/92ZIF6Zr_Jc?si=HhIKYVM4mZeMzKBr"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
                <div class="four columns">
                    <iframe width="320" height="240" src="https://www.youtube.com/embed/GzE_bKrDug8?si=yoBhNShM8N3YwEym"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

    <div id="lista-cursos" class="container">
        <h4 id="encabezado" class="encabezado decora-text">Consejos Para Padres</h4>
        <h6 class="decora-h6">Ayuda a tus hijos a tener una relación saludable con la tecnología siguiendo estas
            recomendaciones
            prácticas.</h6>
        <div class="row">
            <h5 class="decora-h5">
                Define horarios de uso.
            </h5>
            <h6 class="decora-h6">
                Establece tiempos claros para el uso de dispositivos. Un calendario ayuda a que comprendan los
                límites.
            </h6>
            <h5 class="decora-h5">
                Acompaña el aprendizaje.
            </h5>
            <h6 class="decora-h6">
                Mira los videos y juega junto a tus hijos, fortaleciendo el vínculo familiar y el aprendizaje.
            </h6>
            <h5 class="decora-h5">
                Promueve pausas activas.
            </h5>
            <h6 class="decora-h6">
                Después de usar pantallas, incentiva actividades físicas: caminar, estirarse o jugar al aire libre.
            </h6>
            <h5 class="decora-h5">
                Varía las actividades.
            </h5>
            <h6 class="decora-h6">
                Combina el uso digital con actividades offline como leer, dibujar o compartir juegos tradicionales.
            </h6>
            <h5 class="decora-h5">
                Evita pantallas antes de dormir.
            </h5>
            <h6 class="decora-h6">
                Procura que los niños no usen dispositivos al menos una hora antes de acostarse para mejorar el
                descanso.
            </h6>
            <h5 class="decora-h5">
                Refuerza lo positivo.
            </h5>
            <h6 class="decora-h6">
                Celebra cuando tus hijos cumplen con los tiempos de pantalla, el refuerzo positivo es más efectivo.
            </h6>
        </div>
    </div>




    <footer id="footer" class="footer">


        <div class="container">
            <div class="row">
                <div class="four columns">
                    <nav id="principal" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">Para tu Negocio</a>
                        <a class="enlace" href="#">Ventas por Mayor</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secundaria" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">¿Quienes Somos?</a>
                        <a class="enlace" href="#">Despacho de Productos</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secundaria" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">Soporte</a>
                        <a class="enlace" href="#">Contactanos</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>