<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Iplacex</title>
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <header id="header" class="header">
        <% if (login) { %>
            <a href="/logout">Cerrar Sesión</a>
            <% } else { %>
                <h6>
                    <%= name %>
                </h6>
                <a href="/login">Iniciar Sesión</a>
                <% } %>
                    <div class="container">
                        <div class="row">
                            <div class="four columns">
                                <a href="/"><img src="/img/logo.jpg" id="logo"></a>
                            </div>

                            <div class="two columns u-pull-right">
                                <ul>
                                    <li class="submenu">
                                        <img src="/img/cart.png" id="img-carrito">
                                        <div id="carrito">
                                            <table id="lista-carrito" class="u-full-width">
                                                <thead>
                                                    <tr>
                                                        <th>Imagen</th>
                                                        <th>Nombre</th>
                                                        <th>Precio</th>
                                                        <th>Cantidad</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                            <a href="#" id="finalizar-compra" class="button u-full-width">Finalizar Compra</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="text-align: center;">
                                <a class="boton_header" href="register">Registrate</a>
                                <a class="boton_header" href="login">Iniciar Sesión</a>
                            </div>
                        </div>
                    </div><br>

    </header>


    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="contenido-hero">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="barra">
        <div class="container">
            <div class="row">
                <div class="four columns icono icono1">
                    <p>Cientos de Juegos Interactivos<br>
                        Estimula Mentalmente a los Niños</p>
                </div>
                <div class="four columns icono icono2">
                    <p>Eleva su Concentración<br>
                        E Interactua con el Mundo</p>
                </div>
                <div class="four columns icono icono3">
                    <p>Opciones de Pago<br>
                        Sistema Contra Entrega</p>
                </div>
            </div>
        </div>

    </div>

    </div>
    <div id="lista-cursos" class="container">
        <h4 id="encabezado" class="encabezado decora-text">Juegos Interactivos</h4>
        <h5 class="decora-h6">"Antes de comenzar tu aventura educativa, queremos contarte que también tenemos juegos
            interactivos
            especialmente diseñados para seguir aprendiendo mientras te diviertes. Cada juego complementa y te permite
            practicar de manera entretenida, segura y guiada. ¡Descubre nuestra colección y convierte cada momento en
            una experiencia de aprendizaje!"</h5><br>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/img/bloques_colores.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Bloques en Madera de Colores</h5>
                        <p>Edad: 3+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$4000 <span class="u-pull-right ">$2500</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/arcoiris_animales.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Arcoíris de Animalitos</h4>
                        <p>Edad: 3+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$3500<span class="u-pull-right ">$2000</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/buho_musical.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Búho Musical Multifunción</h4>
                        <p>Edad: 3+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$6500<span class="u-pull-right ">$3500</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/img/bloques_magneticos_154.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Bloques Magnéticos – 154 pcs</h4>
                        <p>Edad: 5+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$8000<span class="u-pull-right ">$6500</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="4">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/bloques_magneticos.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Bloques Magnéticos – 96 pcs</h4>
                        <p>Edad: 5+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$6500<span class="u-pull-right ">$5500</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="5">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/bloques_camion_12_en_1.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Bloques de Bombero Brigada Fire</h4>
                        <p>Edad: 8+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$2000 <span class="u-pull-right ">$15000</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="6">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/img/cubo.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Cubo Soma x2500 pcs</h4>
                        <p>Edad: 8+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$12000<span class="u-pull-right ">$10000</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="7">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/multi_cubo_8_en_1.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Cubo Multifunción 8 en 1</h4>
                        <p>Edad: 5+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$12000<span class="u-pull-right ">$10000</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="8">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/cubos_apilables.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Cubo Apilable con fichas de encaje</h4>
                        <p>Edad: 5+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$9500<span class="u-pull-right ">$8500</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="9">Agregar
                            Al Carrito</a>
                    </div>
                </div>
            </div>
        </div> <!--.row-->
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="/img/domino_acrilico.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Dominó Acrílico de Animalitos</h4>
                        <p>Edad: 5+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$5000<span class="u-pull-right ">$4500</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito"
                            data-id="10">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/tiendita.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Juego didáctico La Tiendita</h4>
                        <p>Edad: 8+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$14000<span class="u-pull-right ">$12000</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito"
                            data-id="11">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="/img/maracas.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Instrumento Musical Maracas de madera</h4>
                        <p>Edad: 3+</p>
                        <img src="/img/estrellas.png">
                        <p class="precio">$6000<span class="u-pull-right ">$5000</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito"
                            data-id="12">Agregar Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <section class="form-Registro">
                <h4>Formulario de Contacto</h4>
                <form action="/contactanos" method="post">
                    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre"
                        required>
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo"
                        required>
                    <input class="controls" type="text" name="telefono" id="telefono" placeholder="Ingrese su Telefono"
                        required>
                    <input class="controls" type="message" name="message" id="message" placeholder="Ingrese su Mensaje" required>
                    <input class="u-full-width button-primary button input agregar-carrito" type="submit" value="Contactanos">
                </form>
              </section>
              <br><br><br>
        </div>
    </div>

    <footer id="footer" class="footer">


        <div class="container">
            <div class="row">
                <div class="four columns">
                    <nav id="principal" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">Para tu Negocio</a>
                        <a class="enlace" href="#">Ventas por Mayor</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secundaria" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">¿Quienes Somos?</a>
                        <a class="enlace" href="#">Despacho de Productos</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secundaria" class="menu">
                        <br>
                        <br>
                        <br>
                        <a class="enlace" href="#">Soporte</a>
                        <a class="enlace" href="#">Contactanos</a>
                        <br>
                        <br>
                        <br>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !== "undefined" && alert) { %>
    <script>
        Swal.fire({
            title: "<%= alertTitle %>",
            text: "<%= alertMessage %>",
            icon: "<%= alertIcon %>",
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(() => {
            if ("<%= ruta %>") {
                window.location = "/<%= ruta %>";
            }
        });
    </script>
    <% } %>

</body>

</html>